@model SRV.ViewModel.SerieModel





<form serie-add-form>
    <div class="form-group">
        <label for="recipient-name" class="control-label">名称:</label>
        <input type="text" data-val="true" data-val-required="* 必须填写" id="recipient-name" name="serieName" class="form-control">
        <span class="field-validation-valid" data-valmsg-for="serieName" data-valmsg-replace="true"></span>
    </div>
</form>



